<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center tall-70  background-image banner-image fadeIn animatedFadeIn animated" id = "{{item.content-block-id}}" style = "background-image: url('{{item.banner_image}}');">
        <div class = "overlay padded-lg col-12 grid-center">
            <div class = "col-12 grid-center">
                <img class = "col-2_sm-4-bottom padded-xsm text-center bg-blue logo"src = "{{item.logo_image}}" width = "100%">
            </div>
            
            <div class = "col-12 banner-text text-center reveal fade-left">
                <h3 class = "reveal fade-left">{{item.sub-heading}}</h3>
                <a class = "button reveal fade-right" href = "{{item.button-link}}">{{item.call-to-action}}</a>
            </div>
        </div>
        
        
    </section>
</section>
