<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center tall-70 padded-lg background-image banner-image" id = "{{item.content-block-id}}" style = "background-image: url('{{item.banner_image}}');">
        <div class = "col-12 grid-center">
            <a href = "#" class = "col-2-bottom padded-xsm text-center bg-blue logo"><img src = "{{item.logo_image}}" width = "100%"></a>
        </div>
        
        <div class = "col-12 banner-text text-center">
            <h3>{{item.sub-heading}}</h3>
            <a class = "button" href = "{{item.button-link}}">{{item.call-to-action}}</a>
        </div>
        
    </section>
</section>
