<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center  background-image banner-image" id = "{{item.content-block-link}}" style = "background-image: url('{{item.hero_image}}');">
        <div class = "overlay padded-lg col-12 grid-center">
            <div class = "col-12 grid-center">
                <img class = "col-2_sm-4-bottom padded-xsm center logo"src = "{{item.logo_image}}" width = "100%">
            </div>
            
            <div class = "col-12 banner-text center ">
                <h3 class = "">{{item.subheading}}</h3>
                <a class = "button" href = "{{item.button-link}}">{{item.call-to-action}}</a>
            </div>
        </div>
        
        
    </section>
</section>
