<style>
     #content-blocks-{{forloop.index0}} .portfolio-block {background-color: {{item.colors.background-color}};}
     #content-blocks-{{forloop.index0}} .border {border: 1.5px solid {{item.colors.border-color}};}
     #content-blocks-{{forloop.index0}} .button {background-color: {{item.colors.button-color}};}
</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid padded-sides portfolio-block text-left mixed-gallery" id = "{{item.content-block-link}}">
        <h2 class = "col-12 padded-t-1 padded-b-1">{{item.subheading}}</h2>
        <section class = "col-6_sm-12 grid">
            <!-- div -->
            
                <div class = "col-12 background-image border portfolio-1"
                style = "background-image: url('{{item.gallery.1_image}}');" data-fancybox="gallery" href = "{{item.gallery.1_image}}">
                    
                </div>
    
            
            <div class = "col-12 grid">
                <!-- div -->
     
                    <div class = "col-6  background-image border portfolio-2"
                    style = "background-image: url('{{item.gallery.2_image}}');" data-fancybox="gallery" href = "{{item.gallery.2_image}}">
                        
                    </div>
   
                
                <!-- div -->
              
                    <div class = "col-6  background-image border portfolio-3"
                    style = "background-image: url('{{item.gallery.3_image}}');" data-fancybox="gallery" href = "{{item.gallery.3_image}}">
                        
                    </div>
         
                
            </div>
        </section>
        <section class = "col-6_sm-12 grid">
            <!-- div -->
    
                <div class = "col-6_sm-12 background-image border portfolio-4"
                style = "background-image: url('{{item.gallery.4_image}}');" data-fancybox="gallery" href = "{{item.gallery.4_image}}">
                    
                </div>
 
            
            <div class = "col-6_sm-12 grid">
                <!-- div -->
       
                    <div class = "col-12  background-image border portfolio-5"
                    style = "background-image: url('{{item.gallery.5_image}}');" data-fancybox="gallery" href = "{{item.gallery.5_image}}">
                        
                    </div>

                
                <!-- div -->
    
                    <div class = "col-12 center call-to-action padded background-image border"
                    style = "background-color: {{item.colors.call-to-action-background-color}};">
                        <div>{{item.textarea_html}}</div>
                        <a class = "button" href = "{{item.call-to-action-link}}">{{item.call-to-action}}</a>
                    </div>
            </div>
        </section>
    </section>
</section>
