<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid padded portfolio-block text-left mixed-gallery" id = "{{item.content-block-id}}" style = "background-color: #{{item.background-color}};">
        <h2 class = "col-12 padded-t-1 padded-b-1">{{item.subheading}}</h2>
        <section class = "col-6 grid">
            <!-- div -->
            
                <div class = "col-12 background-image portfolio-1"
                style = "background-image: url('{{item.1_image}}'); border: 1.5px solid #{{item.border-color}};" data-fancybox="gallery" href = "{{item.1_image}}">
                    
                </div>
    
            
            <div class = "col-12 grid">
                <!-- div -->
     
                    <div class = "col-6  background-image portfolio-2"
                    style = "background-image: url('{{item.2_image}}');  border: 1.5px solid #{{item.border-color}};" data-fancybox="gallery" href = "{{item.2_image}}">
                        
                    </div>
   
                
                <!-- div -->
              
                    <div class = "col-6  background-image portfolio-3"
                    style = "background-image: url('{{item.3_image}}');  border: 1.5px solid #{{item.border-color}};" data-fancybox="gallery" href = "{{item.3_image}}">
                        
                    </div>
         
                
            </div>
        </section>
        <section class = "col-6 grid">
            <!-- div -->
    
                <div class = "col-6 background-image portfolio-4"
                style = "background-image: url('{{item.4_image}}');  border: 1.5px solid #{{item.border-color}};
                " data-fancybox="gallery" href = "{{item.4_image}}">
                    
                </div>
 
            
            <div class = "col-6 grid">
                <!-- div -->
       
                    <div class = "col-12  background-image portfolio-5"
                    style = "background-image: url('{{item.5_image}}'); padding-bottom: 16rem; border: 1.5px solid #{{item.border-color}};" data-fancybox="gallery" href = "{{item.5_image}}">
                        
                    </div>

                
                <!-- div -->
    
                    <div class = "col-12 text-center call-to-action padded background-image"
                    style = "background-color: #{{item.call-to-action-background}}; padding-bottom: 4rem; border: 1.5px solid #{{item.border-color}};" data-fancybox="gallery">
                        <p>{{item.textarea_html}}</p>
                        <a class = "button" href = "{{item.call-to-action-link}}">{{item.call-to-action}}</a>
                    </div>

                
            </div>
        </section>
    </section>
</section>
