<section id="content-blocks-{{forloop.index0}}">
        <div class = "grid text-center fade-right reveal slide-in-from-right" id="{{item.content-block-id}}" style="
        justify-content: center;
    ">
            <!-- Squiggle + Text -->
            <div class = "col-4 text padded bg-base">
                <img src = "{{item.icon_image}}" width = "40%">
                <h2>{{item.heading}}</h2>
                <p>{{item.textarea_html}}</p>
                <a href = "{{item.button-link}}">
                    <span class="material-symbols-outlined">
                        arrow_circle_right
                    </span>
                </a>
                
            </div>

            <!-- Image -->
            <div class = "col-4_xs-12  background-image relative-desktop service-img" style="background-image: url('{{item.image}}');">
            </div>
        </div>
</section>



