<section id="content-blocks-{{forloop.index0}}">
  <div class = "grid center slide-in-from-left fade-right reveal" id="{{item.content-block-link}}" style="
  justify-content: center;
">
      <!-- Image -->
      <div class = "col-4_xs-12  background-image relative-desktop service-img" style="background-image: url('{{item.image}}');">
      </div>

      <!-- Squiggle + Text -->
      <div class = "col-4_xs-12 text padded bg-base">
          <img src = "{{item.icon_image}}" width = "40%">
          <h2>{{item.heading}}</h2>
          <p>{{item.textarea_html}}</p>
          <a href = "{{item.button-link}}">
            <span class="material-symbols-outlined">
              arrow_circle_right
            </span>   
          </a>
          
      </div>

      
  </div>
</section>