<section id="content-blocks-{{forloop.index0}}">
    <section class = " grid-middle bg-base text-in-the-middle" id = "{{item.content-block-id}}">
            <div class = "col-2_xs-12 xs-mob-hide background-image" style = "background-image: url('{{item.left_image}}');"></div>
        

        <div class = "col-8_xs-12-right text text-center padded">
            <h1 class = "reveal fade-left margin-b-1">{{item.heading}}</h1>
            <p class = "padded-sides reveal fade-left">{{item.textarea_html}}</p>
            <a href = "{{item.button-link}}" class = "button reveal fade-up">{{item.call-to-action}}</a>
        </div>
        <div class = "col-2_xs-4-right background-image mob-hide" style = "background-image: url('{{item.right_image}}');">
        </div>
    </section>
</section>

