<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid tall-70 text-on-the-left bg-base" id = "{{item.content-block-id}}">
        <div class = "col-6-middle text-center padded-sm">
            <h1>{{item.heading}}</h1>
            <h2>{{item.sub-heading}}</h2>
            <p>{{item.textarea_html}}
            </p>
        </div>
        <div class = "col-6 background-image text-on-the-left-image" style = "background-image: url('{{item.image}}g');">

        </div>
    </section>
</section>
